.contenedor {
    
    display: flex;
    width: 100%;
    
    }
.texto-centrado {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        color: white;
        
}
.imagen_banner{
        object-fit: cover;
            width: 100%;
            height: 500px;
}
.boton-imagen{
        position: absolute;
        top: 60%;
        left: 65%;
        transform: translate(-50%, -50%);
}
.titulo{
        font-size: xxx-large;
}
.texto{
        font-size: larger;
       
}
@media screen and (max-width: 412px) {
    .texto {
      font-size: 26px;
    }
  }
  @media screen and (max-width: 412px) {
        .titulo {
          font-size: large;
        }
      }