<div class="container mt-4">
    <div class="row">
        <mat-card class="col-lg-6">
            <mat-card-title>Guitara</mat-card-title>
            <img mat-card-image class="imagen_intrumento" src="" alt="">
            <mat-card-subtitle>Clases de Guitarra acustica</mat-card-subtitle>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              
            </mat-card-content>
        </mat-card>
        <mat-card class="col-lg-6">
            <mat-card-title>Guitara</mat-card-title>
            <img mat-card-image class="imagen_intrumento" src="" alt="">
            <mat-card-subtitle>Clases de Guitarra acustica</mat-card-subtitle>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              
            </mat-card-content>
        </mat-card>
    </div>
   
</div>
